<div class="ui stackable middle aligned center aligned grid" id="dashboardGrid">
    <div class="row">
        <div class="two wide column"></div>
        <div class="center aligned four wide column"> 
            <%= image_tag("christian_sorseth.jpg", :class => "ui circular image") %>
        </div>
        <div class="center aligned eight wide column">
            <div class="ui raised segment">
                <h1>About</h1>
                <div class="ui list">
                    <div class="item">
                        <i class="university icon"></i> 
                        <div class="content">
                            <%= link_to("Norwegian University of Science and Technology ('15 -)", "https://www.ntnu.no") %>
                        </div>
                    </div>
                    <div class="item">
                        <i class="laptop icon"></i>
                        <div class="content">
                            IT Project Manager at
                            <%= link_to("ISFIT", "https://isfit.org") %>
                        </div>
                    </div>
                    <div class="item">
                        <i class="book icon"></i>
                        <div class="content">
                            <%= link_to("Masters Degree in Information Security (NTNU)", "https://www.ntnu.edu/studies/mstcnns/telematics-communication-networks-and-networked-services-mstcnns")%>
                        </div>
                    </div>
                    <div class="item">
                        <i class="book icon"></i>
                        <div class="content">
                            <%= link_to("Bachelor Degree in Computer Science (UiS)", "http://www.uis.no/studietilbud/ingenioer-og-sivilingenioer/bachelor-i-ingenioerfag/data/")%>
                        </div>
                    </div>
                    <div class="item">
                        <i class="soccer icon"></i>
                        <div class="content">Football Player</div>
                    </div>
                    <div class="item">
                        <i class="map icon"></i>
                        <div class="content">From Sandnes, Rogaland</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="two wide column"></div>
    </div>
</div>