<% if controller_name == "dashboard" %>
  <div class="ui top fixed menu secondary" id="navbar">
  <div class="left menu" style="height:135px; width:135px">
    <%= image_tag("logo_inverted.png", :class => "ui circular centered image") %>
  </div>
<% else %>
  <div class="ui top fixed menu secondary" id="aboutNavbar">
  <div class="left menu" style="height:125px; width:125px" id="leftNavbar">
    <%= image_tag("logo.png", :class => "ui circular centered image") %>
  </div>
<% end %>
<div class="mobile hidden">
  <div class="right menu">
    <a class="border item" href="<%= dashboard_index_path %>">HOME</a>
    <a class="item" href="<%= about_index_path %>">ABOUT</a>
    <a class="item">RESUME</a>
    <a class="item" id="contact" href="<%= contacts_path %>">CONTACT</a>
  </div>
</div>
<div class="mobile only">
      <div class="right fixed menu">
        <a class="right floated item">
          <i class="sidebar big icon"></i>
        </a>
      </div>
  </div>
</div>
