<% if controller_name == "dashboard" %>
  <div class="ui top fixed stackable menu secondary" id="navbar">
  <div class="left menu" style="height:135px; width:135px">
    <%= image_tag("logo_inverted.png", :class => "ui circular centered image") %>
  </div>
<% else %>
  <div class="ui top fixed stackable menu secondary" id="aboutNavbar">
  <div class="left menu" style="height:125px; width:125px">
    <%= image_tag("logo.png", :class => "ui circular centered image") %>
  </div>
<% end %>
  <div class="right menu">
    <a class="border item" href="<%= dashboard_index_path %>">HOME</a>
    <a class="item" href="<%= about_index_path %>">ABOUT</a>
    <a class="item">RESUME</a>
    <a class="item" id="contact" href="<%= contacts_path %>">CONTACT</a>
  </div>
</div>